<!DOCTYPE html>
<html ng-app="collectionMaker">
<head>
  <script src = "angular.js"></script>
  <script src="app.js"></script>
  <title>Paper Money Collection App</title>
</head>
<body class="list-group" ng-controller="CatalogueController as catalogue">
  <!-- CATALOGUE TABLE -->
  <div>
    <h2>Paper Money Catalogue</h2>
    <h5>Show ONLY items in your collection<input type="checkbox" /></h5>
    <h5>Country Filter :<input type="text" ng-model="countryFilter.country"></input></h5>
    <h5>Denom Filter   :<input type="text" ng-model="denomFilter.denomination"></input></h5>
  </div>
    <table>
    <tr class="table-header">
      <th ng-click="sortBy='country';reverse=!reverse">Country</th>
      <th ng-click="sortBy='authority';reverse=!reverse">Authority</th>
      <th ng-click="sortBy='BNBid';reverse=!reverse">BNBid</th>
      <th ng-click="sortBy='PICKid';reverse=!reverse">PICKid</th>
      <th ng-click="sortBy='denomination';reverse=!reverse">Denomination</th>
      <th ng-click="sortBy='currency';reverse=!reverse">Currency</th>
      <th ng-click="sortBy='date';reverse=!reverse">Date</th>
      <th ng-click="sortBy='year';reverse=!reverse">Year</th>
      <th ng-click="sortBy='type';reverse=!reverse">Type</th>
    </tr>
    <tr class="table-row" ng-repeat="item in catalogue.items | filter:countryFilter | filter:denomFilter | orderBy:sortBy:reverse">
      <td>{{ item.country }}</td>
      <td>{{ item.authority }}</td>
      <td>{{ item.BNBid }}</td>
      <td>{{ item.PICKid }}</td>
      <td>{{ item.denomination }}</td>
      <td>{{ item.currency }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.year }}</td>
      <td>{{ item.type }}</td>
    </tr>
  </table>

  <!-- USER COLLECTION TABLE -->
  <div></div>

</body>
</html>